name: publish

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - "*"

jobs:
  # Wait until all other publishing jobs are finished
  # before publishing the virtual packages (which are architecture agnostic)
  publish-containers:
    name: ${{ matrix.target.image }} (${{ matrix.target.opcua_version }})
    runs-on: ubuntu-24.04
    env:
      BUILDX_NO_DEFAULT_ATTESTATIONS: 1
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        target:
          # Keep the "opcua-device-gateway" image on the latest available version
          # which should align with the Cumulocity version used on the cloud trial tenants (e.g. eu-latest.cumulocity.com)

          - opcua_version: "1023.1.0"
            image: opcua-device-gateway
            
          - opcua_version: "1023.1.0"
            image: opcua-device-gateway-1023

          - opcua_version: "1021.9.7"
            image: opcua-device-gateway-1021

          - opcua_version: "1020.91.0"
            image: opcua-device-gateway-1020

          - opcua_version: "1018.531.0"
            image: opcua-device-gateway-1018


    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0
      - uses: extractions/setup-just@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            name=ghcr.io/${{ github.repository_owner }}/${{ matrix.target.image }},enable=true
          tags: |
            type=raw,value={{tag}}
            type=raw,value=latest

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: containers/opcua-device-gateway
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BUILDTIME=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
            REVISION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.revision'] }}
            VERSION=${{ matrix.target.opcua_version }}
